<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Springboot</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Top画面</h1>
編集画面です
<!--<form method="post" action="/add">-->
    <!--TODOを追加：-->
    <!--<input type="text" name="text1" th:value="${text1_value}"/>-->
    <!--<input type="submit" value="追加"/>-->
<!--</form>-->
<!--<form method="post" action="/search">-->
    <!--検索：-->
    <!--<input type="text" name="text1" th:value="${text1_value}"/>-->
    <!--<input type="submit" value="検索"/>-->
<!--</form>-->
<!--<table>-->
    <!--<tr>-->
        <!--<th bgcolor="#EE0000"><font color="#FFFFFF">番号</font></th>-->
        <!--<th bgcolor="#EE0000" width="300"><font color="#FFFFFF">内容</font></th>-->
        <!--<th bgcolor="#EE0000" width="100"><font color="#FFFFFF">チェック</font></th>-->
    <!--</tr>-->
    <!--<tr th:each="emp : ${emplist}" th:object="${emp}">-->
        <!--<td th:text="*{id}"></td>-->
        <!--<td th:text="*{empname}"></td>-->
        <!--<td>-->
            <!--<input type="checkbox"/>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->
</body>
</html>