<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Springboot</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>検索画面</h1>
<form method="post" action="/search">
    検索：
    <input type="text" name="text1" th:value="${queryText}"/>
    <input type="submit" value="検索"/>
</form>
<table>
    <tr>
        <th bgcolor="#EE0000"><font color="#FFFFFF">番号</font></th>
        <th bgcolor="#EE0000" width="300"><font color="#FFFFFF">内容</font></th>
        <th bgcolor="#EE0000" width="100"><font color="#FFFFFF">チェック</font></th>
    </tr>

    <tr method="post" th:each="todo : ${resultsList}" th:object="${todo}">
        <td th:text="*{id}"></td>
        <td th:text="*{content}"></td>
        <td>
            <form th:action="@{/switch_done2/} + *{id}">
                <input type="checkbox" name="todo_checkbox" value="*{done}" onclick="submit();" th:checked="*{done} ? 'checked'">
            </form>
        </td>
    </tr>
    <!---->
    <tr th:each="emp : ${emplist}" th:object="${emp}">
        <td th:text="*{id}"></td>
        <td th:text="*{empname}"></td>
        <td>
            <input type="checkbox" name="my-checkbox" th:checked="${isChecked} ? 'checked'">
        </td>
    </tr>
</table>
</body>
</html>